h1 {
    color: rgb(0, 255, 0);
    font-family: 'Comic Sans MS'
}
p,
li {
    color: blue;
}
.special {
    color: orange;
    font-weight: bold;
}
h1 + p {
    font-size: 200%;
    font-family: 'Comic Sans MS'
}
a:link {
    color: greenyellow;
}
a:visited {
    color: rgba(0, 128, 0, 0.433);
}
a:hover {
    text-decoration: none;
}
.special {
    color: red;
}
p {
    color: blue;
    font-family: 'Comic Sans MS'
}
.box {
    background-color: rgb(0, 174, 255);
}
.center {
    text-align: center;
}
h2 {
    font-family: 'Comic Sans MS'
}
ul {
    font-family: 'Comic Sans MS'
}